.about-hero-section{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: url('../navbar/apppomint.jpg');
    position: relative;
  }
  .about-hero-section .heading{
   background-color: rgb(0, 0, 0, 0.5);
   min-height: 50vh;
  }